@inject IJSRuntime JSRuntime

<div>
	<label for="box">@Description</label><br>
	<textarea id="input" rows="6" cols="50" disabled="@IsDisabled" @bind=Value /><br>
	<button id="submit" type="button" disabled="@IsDisabled" @onclick="OnSubmit">@Label</button>
	<button id="copy" @onclick="OnCopy">Copy</button>
</div>

@code {
	[Parameter] public required string Description { get; set; }
	[Parameter] public string Value { get; set; } = string.Empty;
	[Parameter] public required string Label { get; set; }
	[Parameter] public required Func<string, Task<string>> Action { get; set; }
	[Parameter] public bool IsDisabled { get; set; } = false;

	private async Task OnSubmit()
	{
		Value = await Action.Invoke(Value);
		IsDisabled = true;
	}

	private async Task OnCopy() =>
		await JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", Value);
}
